*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  /* inter-800 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* neucha-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/neucha-v17-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



html {
    font-size: 10px;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: normal;
}

/*Header styles start*/

.header {
    background: fixed, #181818;
    width: 100%;
    height: 12rem;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.header a {
    text-decoration:  none;
}

.header__logo a {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 4.8rem;
    color: #E8C616;
    margin-left: 6rem;
}

.header__nav {
    color: #FFF;
    font-family: 'Inter';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.header__item {
    margin-right: 12.3rem;
}

.header__item:last-child {
    margin-right: 25rem;
}

.header__link {
    color: white;
}

/*Header styles end*/
/*Intro styles start*/

.intro {
    height: 100vh;
    max-width: 100%;
    display: flex;
    background: url(../img/first_screen.jpg) no-repeat center;
    background-size: cover;
    justify-content: space-between;
    flex-direction: column;
}

.intro__title {
    padding-top: 30vh;
    padding-left: 140px;
    font-family: 'Neucha';
    font-size: 12.8rem;
    color: #E8C616;
    text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    3px 3px 0 black;
}

.intro__subtitle_container {
    display: flex;
    justify-content: end;
}

.intro__subtitle {
    padding-right: 115px;
    font-family: 'Neucha';
    font-size: 4.8rem;
    color: white;
    font-weight: 400;
}

.intro__scroll_container {
    display: block;
    margin: auto;
}

.intro__scroll_container img{
    margin: auto;
}

.intro__scroll {
    font-family: 'Inter';
    font-size: 2.4rem;
    font-weight: 300;
    color: white;
    align-items: center;
}

/*Intro styles end*/
/*Features styles start*/

.features {
    height: 40rem;
    width: 100%;
    background-color: #E8C616;
}

.features__list {
    padding: 0 23.4%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание вдоль перпендикулярной оси к основной (по умолчанию по вертикали) */
    justify-content: flex-start; /* Выравнивание вдоль основной оси (по умолчанию по горизонтали) */

    height: 350px;
    width: 282px;
    padding: 3rem;
    margin: 25px 0;
    background-color: #D3B411;
    border-radius: 40px;
}

.features__item p {
    font-family: 'Neucha';
    font-size: 3rem;
    font-weight: 400;
    color: black;
    text-align: center;
}

.features__item img {
    margin-bottom: 3rem;
}

/*Features styles end*/
/*Outro styles start*/

.outro {
    height: 100vh;
    display: flex;
    background: url(../img/third_screen.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
}

.outro__title {
    font-family: 'Neucha';
    font-size: 6.4rem;
    color: white;
    font-weight: 400;
}

/*Outro styles end*/




